$primaryColor: #7faae4;
$secondaryColor: #834db7;
$tertiaryColor: #34283f;
$primaryBackgroundColor: #ccc;
$secondaryBackgroundColor: #fff;

$hoverEffectColor: #f2f2f2;

// Media
$min-sm-screen: '768px';
