header.header {
  background: $secondaryBackgroundColor;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid $primaryBackgroundColor;

  h1>div {
    color: $primaryColor;

    &:last-child {
      color: $secondaryColor;
    }
  }
}